# 공통
FILE_UPLOAD_PATH= # 업로드 경로

# 프론트엔드
INTERNAL_BASE_URL=http://backend:8089

## auth.js 관련 설정
AUTH_GOOGLE_ID= # 구글 로그인
AUTH_GOOGLE_SECRET= # 구글 로그인
AUTH_SECRET="임의 uuid값" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_URL="https://localhost" # auth.js에서 oauth 요청 시 클라이언트 uri


# 백엔드
DB_URL=jdbc:postgresql://db:5432/postgres
DB_USERNAME=blog
DB_PASSWORD=admin
FILE_DIR=/data/uploads #컨테이너 내부 파일 디렉토리
JWT_SECRET= #jwt 키

# nginx
SERVER_NAME=localhost # 서버 이름
SSL_CERT_PATH=/etc/nginx/certs/localhost.pem
SSL_KEY_PATH=/etc/nginx/certs/localhost-key.pem # SSL 키 경로



